.toExplore{
    display: flex;
width: 100%;
gap: 50px;
margin-left: 10px;



}
.aboutExplore{
    width: 100%;
    
    display: flex;
    gap :20px;
    
 
    

}
.cExplore{
    list-style: none;
    row: gap 20px; ;
}
    

.bExplore{
    gap: 0px;
    display :flex;
    flex-direction: column; 
}

.dExplore{
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    
}




.explorePlace{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
 

    column-gap: 50px;
}

.dList{
    font-size: 25px;
    row-gap: 20px;
}

