.toExplore{
    display: flex;






}
.aboutExplore{
    width: 100%;
    max-width: 1024px;
    display: flex;
    gap :20px;
    align-items: center;
    justify-content: center;
    
}

.aExplore{
    margin-top: 70px;
    
}
    

.cExplore{
    list-style: none;
   
}
    

.bExplore{
    gap: 0px;
    display :flex;
    flex-direction: column; 
}

.dExplore{
    display: flex;
    flex-direction: row;
    column-gap: 5px;
    
}




.explorePlace{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
 

    
}

.dList{
    font-size: 25px;
    
}

