 .navbar{
    height: 100px;
    background-color: rgb(76, 76, 219);
    display: flex;
    justify-content: center;
 }
 .navContainer{
    width: 100%;
    color: white;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
 }
 .logo{
    font-weight: 500;
    font-size: large;
    color: black;
 }

 .navButton{
    margin-left: 20px;
    font-size: medium;
    
    color: black;
    background-color:rgb(76, 76, 219) ; 
     border: none; 
    padding: 6px 10px;
 }