 

 .tourUpdate{
    display: flex;
    justify-content: center;
    width: 100%;
 }
.tourPlace{
    width: 100%;
    flex-direction: column;
    max-width: 1200px;

 
}


.tourSource{
    display: flex;
    
    flex-direction: row;
    flex: 1;
    gap :10px;
  

}
.tourDest1{
    flex: 1;
    height: 500px;

}
.tourDest2{
    flex: 1;

}.tourDest3{
    flex: 1;

}
.aTour{
    display: flex;
    flex-direction: column;
    height: 700px;
    
    
    border: 1px solid black;



}
.aTour>span,h1,h2{
    margin-left: 20px;
    margin-right: 20px;
    font-weight: 100;
    
}
.aTour>h1{
 color: rgb(72, 72, 238);
 font-weight: bolder;

}
.aTour>h2{
    
    
    font-weight: bold;
    
}
.aTour>span{
    font-weight:bold;
    
}
.pic{
    height: 300px;
    width: 300px;
    object-fit: cover;
    
    
}


.newsUpdate{
    display: flex;
    
    justify-content: center;
    margin-top: 50px;
}
    
.newsFlex{
            display: flex;
            width: 100%;
            max-width: 1200px;
}

     .newsTitle{
        flex: 1;
        display: flex;
     
        flex-direction: column;
     
   
        
    }
    .newsTitle>h1{
        font-size: xx-large;
        font-weight: bold;
    }
    .newSpace{
        
         justify-content: space-between; 
      
        font-size: medium;
     
        
    }
    .newSpace>h1{
        font-size: large;
        font-weight: 400;
    }
.newSpace>button{
    height: 50px;
    width: 250px;
 
    padding: 10px;
    margin-top: 50px;
  border: 1px solid black;
    border-radius: 4px;
    color: black;
    font-weight: bold;
    align-items: center;
    background-color: white;


   
}
    .newsPics{
        display: flex;
        flex: 1;
        
        flex-direction: column;
    }

    .picFlex{
        display: flex;
        flex-direction: row;
        gap: 20px;
        

    }
    .picsFlex{
        display: flex;
        flex-direction: row;
        gap: 20px;
    }

    .busType{
        
        width: 100%;
    }